body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar 
{
    padding: 30px;
    font-size: 1.4rem;
    background-color: black;
    text-align: center;
}

.navbar a 
{
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.active
{
    color: aquamarine !important;
}